.footer {
  text-align: center;
  padding-bottom: 60px;
  margin-top: 60px;
  border: 1px solid rgb(33, 33, 33);
}

.footer__text {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #212121;
  opacity: 70%;
}
