.modal {
  visibility: hidden;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.is-opened {
  visibility: visible;
  transition-delay: 0s;
  opacity: 1;
}

.modal__content {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  padding: 32px 50px;
  position: relative;
  background-color: #fff;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/close.svg);
  border: none;
  background-color: transparent;
  opacity: 70%;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 100%;
  font-weight: 500;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 95%;
  padding: 12px 16px;
  border: 1px solid #2121214d;
  border-radius: 8px;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__label {
  display: block;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #212121;
}

.modal__save-btn {
  width: 156px;
  height: 48px;
  background-color: #212121;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.3s;
}

@media screen and (max-width: 852px) {
  .modal__content {
    padding: 24px;
    width: 100%;
    max-width: 288px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 24px;
  }

  .modal__input {
    font-size: 14px;
    line-height: 14px;
    width: 90%;
  }

  .modal__label {
    font-size: 14px;
    line-height: 14px;
  }

  .modal__save-btn {
    width: 100%;
    height: 48px;
    font-size: 16px;
    line-height: 16px;
  }
  .modal__close-btn {
    top: 24px;
    right: 24px;
    width: 32px;
    height: 32px;
  }
  .modal__form {
    gap: 16px;
  }
}
